!!!
html
	head
		meta(charset="utf-8")
		meta(name="description", content="#{blogDescription}")
		meta(name="keywords", content="#{blogKeywords}")
		title #{pageTitle}
		link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
		link(rel="stylesheet", href="#{basePath}/css/style.css")
	body
		div.header-mask
		div.wrap
			div.header
				h1 Grunt
				h2 The JavaScript Task Runner
			div.nav
				a.logo(href="#")
					img(src="#{basePath}/images/grunt-logo.png",alt="#{blogName}")
				dl#nav
					dt 参考文档
					dd
						ul
							li
								a(href="getting_started.html") 新手上路
							li
								a(href="configuring_tasks.html") 配置任务
							li
								a(href="sample_gruntfile.html") Gruntfile范例
							li
								a(href="creating_tasks.html") 创建任务
							li
								a(href="creating_plugins.html") 创建插件
					dt 高级应用
					dd.hide
						ul
							li
								a(href="installing_grunt.html") 安装Grunt
							li
								a(href="frequently_asked_questions.html") 常见问题
							li
								a(href="project_scaffolding.html") 项目脚手架
					dt 社区
					dd.hide
						ul
							li
								a(href="help_resources.html") 参考资源
							li
								a(href="who_use_grunt.html") Grunt用户
							li
								a(href="contributing.html") 参与贡献
					dt 升级指南
					dd.hide
						ul
							li <a href="upgrading.html">从0.3升级到0.4</a>
					dt API参考
					dd.hide
						ul
							li <a href="grunt.html">grunt</a>
							li <a href="grunt_config.html">grunt config</a>
							li <a href="grunt_event.html">grunt event</a>
							li <a href="grunt_fail.html">grunt fail</a>
							li <a href="grunt_file.html">grunt file</a>
							li <a href="grunt_log.html">grunt log</a>
							li <a href="grunt_option.html">grunt option</a>
							li <a href="grunt_task.html">grunt task</a>
							li <a href="grunt_template.html">grunt template</a>
							li <a href="grunt_util.html">grunt_util</a>
		
			div.main
				| !{content}
				
		div.footer
			div.wrap
				p Grunt.js 中文社区为开源项目，由网友创建并维护。
				p 贡献: <a href="http://www.toobug.net">Toobug</a> <a href="http://www.basecss.net">Basecss</a>

			script(type="text/javascript",src="http://tajs.qq.com/stats?sId=23584984",charset="UTF-8")

		script(type="text/javascript",src="#{basePath}/js/jquery-1.9.1.min.js")
		script(type="text/javascript",src="#{basePath}/js/page.js")
				
