!!!
html
	head
		meta(charset="utf-8")
		meta(name="description", content="#{blogDescription}")
		meta(name="keywords", content="#{blogKeywords}")
		title #{pageTitle}
		link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
		link(rel="stylesheet", href="#{basePath}/css/style.css")
		link(rel="stylesheet", href="#{basePath}/css/googlecode.css")
	body
		header
			div.wrapper.inner
				h1.logo
					a(href="http://www.gruntjs.org") Gruntjs
				nav
					ul.clearfix
						li
							a(href="#documention") Documention
						li
							a(href="#api") API

		section.wrapper.content.clearfix
			div.post_wrapper
				article.post
					| !{content}

			aside.sidebar
				dl
					dt#documention 文档
					dd
						a(href="getting_started.html") 新手上路
					dd
						a(href="configuring_tasks.html") 配置任务
					dd
						a(href="sample_gruntfile.html") Gruntfile范例
					dd
						a(href="creating_tasks.html") 创建任务
					dd
						a(href="creating_plugins.html") 创建插件
				dl
					dt 高级
					dd
						a(href="installing_grunt.html") 安装Grunt
					dd
						a(href="frequently_asked_questions.html") 常见问题
					dd
						a(href="project_scaffolding.html") 项目脚手架
				dl
					dt 社区
					dd
						a(href="help_resources.html") 参考资源
					dd
						a(href="who_use_grunt.html") Grunt用户
					dd
						a(href="contributing.html") 参与贡献
				dl
					dt 迁移指南
					dd
						a(href="grunt.html") 从0.3升级到0.4
				dl
					dt#api API
					dd
						a(href="grunt.html") grunt
					dd
						a(href="grunt_config.html") grunt config
					dd
						a(href="grunt_event.html") grunt event
					dd
						a(href="grunt_fail.html") grunt fail
					dd
						a(href="grunt_file.html") grunt file
					dd
						a(href="grunt_log.html") grunt log
					dd
						a(href="grunt_option.html") grunt option
					dd
						a(href="grunt_task.html") grunt task
					dd
						a(href="grunt_template.html") grunt template
					dd
						a(href="grunt_util.html") grunt util
				dl
					dt 其他
					dd
						a(href="inside_task.html") 任务内幕
					dd
						a(href="exit_codes.html") 出口代码
				p
					a.btn(href="https://github.com/basestyle/grunt-cn") Github
				p
					a(href="https://github.com/basestyle/grunt-cn/issues") 讨论组
								
		footer.clearfix
			div.wrapper
				p Grunt.js 中文社区为开源项目，由网友创建并维护。
				p 贡献: <a href="http://www.toobug.net">Toobug</a> <a href="http://www.basecss.net">Basecss</a>

			script(type="text/javascript",src="http://tajs.qq.com/stats?sId=23584984",charset="UTF-8")
			
		div#top top

		script(type="text/javascript",src="#{basePath}/js/jquery-1.9.1.min.js")
		script(type="text/javascript",src="#{basePath}/js/highlight.min.js")
		script(type="text/javascript",src="#{basePath}/js/page.js")
				
